@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  text-align: center;
  color: black;
}

.headlineDiv {
  margin: 0 auto;
  text-align: center;
}

.logo {
  margin: 80px auto 0px auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.blackBox {
  background-color: black;
  color: white;
  padding: 2%;
  margin: 50px auto 0px auto;
  width: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 0px /*9999px*/;
}

.vibeHeadline {
  text-align: center;
  margin: 20px 20px 0px 20px;
  color: black;
  vertical-align: center;
  font-weight: 900;
  font-size: 5rem;
  display: inline-block;
  vertical-align: top;
}

h2 {
  text-align: center;
  margin: 0 auto 20px auto;
  color: gray;
  font-weight: 500;
  font-size: 2rem;
}

.mainDiv {
  margin: 0 auto;
  text-align: center;
}

.img {
  width: 15%;
  margin: 0 5% 0 5%; 
  display: inline-block;
  vertical-align: top;
}

ul {
  display: inline-block;
  width: 30%;
  margin: 4% 0 0 0; 
}

li {
  color: black;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 3rem;
  text-align: left;
}

li::before {
  content: "·";
  padding: 0 10px 0 0;
  font-weight: 700;
}

.buttonDiv {
  text-align: center;
}

.joinWaitlist {
  background-color: orangered;
  color: black;
  padding: 2%;
  margin: 50px auto 20px auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 3rem;
  border: 5px solid black;
}

.joinWaitlist:hover {
  background-color: orange;
  cursor: pointer;
}